<div id="content" align="center">
  <h1><%= t 'negotiationtypes.edit.title' %></h1>
  <div id="form" align="left">
    <%= render 'form' %>
  </div>
</div>

<div align="center">
  <div class="btn-group" role="group" aria-label="Navigation">
    <%= link_to (t 'links.back'), negotiationtype_path, class: 'btn btn-primary btn-outline', role: 'button' %>
  </div>
</div>