<h1><%= t '.title' %></h1>

<div id="content">
  <div id="form" class="section">
    <%= render 'form' %>
  </div>
</div>

<div align="center">
  <div class="btn-group" role="group" aria-label="Navigation">
    <%= link_to 'Voltar', negotiationtype_path, class: 'btn btn-primary btn-outline', role: 'button' %>
  </div>
</div>