<div id="content">
  <div class="container">
    <div class="jumbotron">
      <p>Desenvolvido por Lucas Santos</p>
      <div class="lead">
        <ul>
          <li>lucas.santos.silva2011@gmail.com</li>
        </ul>
      </div>
    </div>
  </div>
</div>