<div id="content" align="center">
  <h1><%= t 'products.edit.title' %></h1>
  <div id="form" align="left">
    <%= render 'form' %>
  </div>
</div>

<div align="center">
  <div class="btn-group" role="group" aria-label="Navigation">
    <%= link_to 'Voltar', product_path, class: 'btn btn-primary btn-outline', role: 'button' %>
  </div>
</div>