<div id="content" align="center">
  <h1><%= t '.title' %></h1>
  <div id="form" align="left">
    <%= render 'form' %>
  </div>
</div>

<div align="center">
  <div class="btn-group" role="group">
    <%= link_to (t 'links.back'), products_path, class: 'btn btn-primary' %>
  </div>
</div>