<h1 align="center"><%= t '.title' %></h1>

<div id="content">
  <div id="form">
    <%= render 'form' %>
  </div>
</div>

<div align="center">
  <div class="btn-group" role="group">
    <%= link_to 'Voltar', negotiations_path, class: 'btn btn-primary' %>
  </div>
</div>